/vendor
/.idea
*.idea
/.vscode
/coverage
.DS_Store

*.log
.env
.env.*
!.env.dist

/public/**/*.gz
/public/**/*.br
/public/vendor

*.map.js
*.map.css
/node_modules

.phpstorm.meta.php
.phpunit.result.cache